@model IEnumerable<FaskeyAtlantic.Domain.Entities.Estate>
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">Estate List</h1>
		</div>
		<div class="col text-end pt-1">
			<a asp-controller="Estate" asp-action="CreateEstate" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Estate</a>
		</div>
	</div>

<table class="table table-bordered table-striped">
<thead>
	<tr>
		<th>
			Name
		</th>
		<th>
			Occupancy
		</th>
		<th>
			Price
		</th>
		<th>
			Sqft
		</th>
		<th></th>
	</tr>
</thead>
<tbody>
		@foreach(var obj in Model)
		{
		  <tr>
		    <td>@obj.Name</td>
			<td>@obj.Occupancy</td>
			<td>@obj.Price</td>
			<td>@obj.Sqft</td>
			
			<td>
			
				<a asp-controller="Estate" asp-action="UpdateEstate" asp-route-estateId="@obj.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i>Update</a>
				<a asp-controller="Estate" asp-action="DeleteEstate" asp-route-estateId="@obj.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
			</td>
		  </tr>
		}
	</tbody>
</table>
</div>